* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: var(--mainfontfamily);
}
:root {
    --mainfontfamily:  "Poppins", sans-serif;

    --fontweight-100: 100;
    --fontweight-200: 200;
    --fontweight-300: 300;
    --fontweight-400: 400;
    --fontweight-500: 500;
    --fontweight-600: 600;
    --fontweight-700: 700;
    
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: black;
    color: #fff;
}

header {  
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 6%;
    height: 70px;
    background-color: #1d1c1c;
}

.logo {
    color: #fff;
    font-size: 30px;
    font-weight: var(--fontweight-600);
}

.navbar {
    display: flex;
   
}

.menu-btn {
    color: #fff;
    display: none;
}

.navbar a {
    margin-left: 60px;
    color: #fff;
    transition: .3s;
}

.navbar a:hover {
    color: antiquewhite;
    font-size: 18px;
}

.maintext {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}