* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: var(--mainfontfamily);
}
:root {
    --mainfontfamily:  "Poppins", sans-serif;

    --fontweight-100: 100;
    --fontweight-200: 200;
    --fontweight-300: 300;
    --fontweight-400: 400;
    --fontweight-500: 500;
    --fontweight-600: 600;
    --fontweight-700: 700;
    
}